.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#dogImg{
  height: 40vmin;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dogImg:hover {
  animation: rotate 2s linear infinite; 
}


@keyframes slide-up {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(+100%);
    opacity: 1;
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./matrix.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  animation: slide-up 5s ease-out;

}

.App-link {
  color: #61dafb;
}

